.card{
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    width: auto;
    margin: 0 0.5em;
    height: 750px;
    width: 500px;
    padding:0px;
    margin-left: 330px;
     margin-top: 65px;
     
  }
  .title{
    width: 460px;
    background-color: black;
    margin-right: 100px;
    height: 60px;

}
.title h3{
    text-align: center; 
    color: #F30;
    padding-top: 10px;
    
    
}