#title{
    color: greenyellow;
    font-style: inherit;
    text-align: center;
}
body{
    background-image: url(https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg?w=360);
}
.legend{
    float: left;
    margin-left: 120px;
}

.ghe-dang-chon{
    width: 25px;
    height: 25px;
    background-color: yellow;
}
.ghe-trong{
    width: 25px;
    height: 25px;
    background-color: gray;
}
.ghe-da-ban{
    width: 25px;
    height: 25px;
    background-color: red;
}
p{
    color:white;
}
.khong-gian-ghe{
    background-color: rgb(19, 20, 20);
    height: 500px;
    width: 800px;
    margin: 0px auto;
}   
.legend-s{
    margin-left: 150px;
}
.screen{
    background-color: white;
    color: black;
    text-align: center;
    text-emphasis-color: black;
}
.ma-hang-ghe th{
    background-color: white;
    color: black;
    padding: 6.5px;
    
}
.thu-tu-ghe{
    float: left;
    margin:0px auto;
}
.ghe{
    width: 78px;
    height: 52px;
    border: 2px solid orange;
    text-align: center;
    background-color:gray;
}
.hang-ghe-container{
    float: left;
    margin: 0px auto;
}
.cho-co-ghe{

    background-color: green;
}
.nut-ghe{
    width: 800px;
    height: 100px;
    float:left;
    margin: 100px;
    margin-left: 480px;
}
.cac-buoc{
    list-style-type: none;
}
.qt{
    float: left;
    width: 190px;
    height: 45px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
    
}

.hinh-anh-phim{
    width: 100%;
    height: 100%;
}
.thong-tin-ve-phim{
    color: white;
}
#ten-phim{
    color: greenyellow;
}
.sl-ve{
    height: 200px;
    width: 500;
    margin-top: 50px;
    border: 3px solid greenyellow;
    padding:30px;
   
}
.chon-ghe{
    width: 150px;
    margin-left: 975px;
}
.table-borderless{
    color: white;
}
.bang-ve td,th{
    color: white;
}
.bang-ve{
    margin-bottom:100px;
}
.quytrinh{
    height: 80px;
    margin-left: 250px;

}